{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация об автомобилях</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Информация об автомобилях</h1>
        <nav>
            {% if user.is_authenticated %}
                <p>Вы вошли как {{ user.username }} | 
                <a href="{% url 'user_dashboard' %}">Личный кабинет</a> | 
                <a href="{% url 'logout' %}">Выйти из аккаунта</a></p>
            {% else %}
                <a href="{% url 'authorization' %}">Войти</a> | 
                <a href="{% url 'registration' %}">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <ul>
            {% for car in cars %}
                <li><a href="/cars/{{ car.id }}/">{{ car.make }} {{ car.model }}</a></li>
            {% empty %}
                <li>Список автомобилей пуст</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
